<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbPath" value="%APPDATA%\\Challenge\\PixelWaves\\ChallengeApp.db" />
		<add key="LogConfigPath" value="..\\..\\..\\NLog.config" />
		<add key="LogFilePath" value="%APPDATA%\\Challenge\\PixelWaves\\app.log" />
	</appSettings>
</configuration>
